.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  max-width: 1200px;
  margin: auto;
}
.banner {
  font-size: 50px;
  color: #3a3a3a;
}
.banner-text {
  display: flex;
  gap: 180px;
  align-items: center;
  margin-top: 20px;
}
.banner-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 1px 30px;
  border: none;
  background-color: #e02c6d;
  color: white;
}
.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 100px;
}

.card {
  border: 1px slid gray;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px 12px rgb(233, 239, 241);
  padding: 14px;
}
.card h1 {
  font-size: 20px;
}
.card h4 {
  font-size: 14px;
  font: normal;
  font-weight: normal;
}
.card p {
  font-size: 20px;
}
.card-icons i {
  color: red;
}
.card img {
  width: 100%;
}
.featured-container {
  display: flex;
  gap: 70px;
  margin-top: 60px;
  font-size: 20px;
}
.featured-container p {
  color: #6c6c6c;
  font-size: 20px;
}
.featured-text {
  padding: 1px 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #e02c6d;
  color: white;
  border: none;
  font-size: 20px;
}
.featured-text p {
  color: white;
}
.footer-container {
  font-size: 20px;
  color: white;
  background-color: #0e0228;
  padding: 30px 0px;
  text-align: center;
}
.footer-icons {
  font-size: 30px;
  gap: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  main {
    padding: 0px 5px;
  }
  .header {
    flex-direction: column;
  }
  .banner-text {
    flex-direction: column-reverse;
  }
  .banner {
    text-align: center;
    font-size: 40px;
  }
  .banner p {
    text-align: center;
  }
  .banner-btn {
    margin: auto;
  }
  .image-container {
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 40px;
  }
  .featured-container {
    flex-direction: column;
  }
  .featured-container h1,
  p {
    text-align: center;
  }
  .featured-text {
    margin: auto;
  }
  .footer-container {
    margin-top: 50px;
  }
  .card-container {
    grid-template-columns: auto;
  }
}
